
const riot = require('riot')
require('./riot-app-main.html')
require('./riot-app-navi.html')
require('./riot-app-help.html')
require('../../common/serve-auth.html')
const StoreWatcher = require('../../../event-manager/mixins/storex.js')
const RouterX = require('../../../event-manager/mixins/routerx.js')

<test-container>

  <!-- <serve-auth class='__container' secured='true' secured-key='loggedin' secured-val='true' domain='user' page='test'> -->
    <riot-app-main></riot-app-main>
    <riot-app-navi></riot-app-navi>
    <riot-app-help></riot-app-help>
  <!-- </serve-auth> -->

  <style>
    body { margin: 0 }
  </style>

  <script type="es6">
  	let self = this
    // for validations
    //  - add a validationform
    //  - add a validate function in the handlers['<tag-name>'] section to set result
    //                into state.<store>.<validationform>.validated property
    self.stores = ['user'] // stores to watch
    self.validationform = [] // validation form . this will have validated field

    self.mixin(StoreWatcher)
    self.mixin(RouterX)
  </script>
</test-container>
